<!-- <div class="container"> -->
    {{#link-to 'article' article.id}}  <img src={{article.image}} alt={{article.type}}>
    <h5>{{article.title}}</h5>
    {{/link-to}}
    <h5>{{article.author}}</h5>
    <h5>{{article.category}}</h5>
<!-- </div> -->
